
<h1> About us </h1> 
<hr>

<h3> Friends Project </h3>

<p> 
    <%# refer home_controller - using an instance variable %>
    
    Using instance variable from the controller:
    <%= @about_me %>
    <%= @answer %>
</p>

<p> 
    <% answer = 2+3 %>
    Adding 2 and 3 using ruby inside erb file : <%= answer %>
</p>

<ul>
    <li>Add and maintain Friends list</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sint voluptate eos fugit illo, magnam eveniet necessitatibus alias voluptates laborum amet beatae molestias itaque commodi debitis architecto, excepturi vitae a!</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sint voluptate eos fugit illo, magnam eveniet necessitatibus alias voluptates laborum amet beatae molestias itaque commodi debitis architecto, excepturi vitae a!</li>
</ul>